@using Calculator.Domain;
@model MeasuresCalculator
@{
    ViewBag.Title = "Calculator";
}

<h2>Bit Calculator</h2>

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <div class="form-group">
        <label class="control-label" for="Quantity">Quantity</label>
        @Html.TextBox("Quantity", (int)ViewBag.Quantity, new { @class = "form-control" })
        <label class="control-label" for="Type">Type</label>
        @Html.DropDownList("Type", Model.ToSelectListItem(), new { @class = "form-control" })
        <label class="control-label" for="Kilo">Kilo</label>
        @Html.DropDownList("Kilo", (IEnumerable<SelectListItem>)ViewBag.Kilo, new { @class = "form-control" }) <br />
        <input type="submit" value="GO" class="btn btn-default" />
    </div>
    <hr />
    <div class="List">

        <table class="table">
            <thead>
            <td colspan="2">
                Storage(@((int)((KiloMultiplier)Model.Multiplier)) bits)
            </td>
            </thead>
            <tbody>
                @foreach (var unit in Model.Units)
                {
                    <tr>
                        <td width="120px">
                            @unit.Name
                        </td>
                        <td width="150px">
                            @unit.Value
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

